# Market Data Config
MARKET_DATA_PROVIDER=fastforex
FASTFOREX_API_KEY=
FASTFOREX_BASE_URL=https://api.fastforex.io
FASTFOREX_SYMBOLS_FOREX=EUR/USD,GBP/USD,USD/JPY,EUR/GBP,AUD/USD,USD/CAD
FASTFOREX_SYMBOLS_CRYPTO=BTC/USD,ETH/USD,SOL/USD,XRP/USD,BNB/USD

